*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --secondary-color: #373c3f;
  --light-gray-color: #a3b0c4;
}

.secondary-text-color {
  color: var(--secondary-color);
}

.light-gray-text-color {
  color: var(--light-gray-color);
}

.logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #eef0ff;
}

.btn-default {
  background: 0 0;
  border: 0;
  cursor: pointer;
}
